{% extends 'base.html' %}

{% block titulo %}
    Listado Audiolibros
{% endblock %}

{% block contenido_que_cambia %}


{% for audiobook in audiobook %} 

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> Titulo : {{audiobook.title}}</h5>
      <p class="card-text">  Genero : {{audiobook.book_genre}}</p>
      <a href="#" class = "btn btn-primary">Editar</a>
      <a href="/delete_audiobook/{{audiobook.id}}/" class = "btn btn-danger">Borrar</a>
    </div>
</div>

  
{% endfor%}


{% endblock %}