{% extends 'base.html' %}

{% block titulo %}
    Listado Libros
{% endblock %}

{% block contenido_que_cambia %}


{% for book in book %} 

<div class="card" style="width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title"> Titulo : {{book.title}}</h5>
      <p class="card-text">  Genero : {{book.book_genre}}</p>
      <a href="#" class = "btn btn-primary">Editar</a>
      <a href="/delete_book/{{book.id}}/" class = "btn btn-danger">Borrar</a>
    </div>
</div>

  
{% endfor%}


{% endblock %}