{% extends 'base.html' %}

{% block titulo %}
    Buscar Libros
{% endblock %}

{% block contenido_que_cambia %}


{% for book in books %} 

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-title"> Titulo :  {{book.title}}</p>
                  <p class="card-text">  Genero : {{book.book_genre}}</p>
                  
                </div>
        </div>

  
{% endfor%}

{% for ebook in ebooks %} 

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-title"> Titulo :  {{ebook.title}}</p>
                  <p class="card-text">  Genero : {{ebook.book_genre}}</p>
                  
                </div>
        </div>

  
{% endfor%}

{% for audiobook in audiobooks %} 

          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-title"> Titulo :  {{book.title}}</p>
                  <p class="card-text">  Genero : {{book.book_genre}}</p>
                  
                </div>
          </div>

  
{% endfor%}

{% endblock %}